<div class="ind-result col-4">
        <img src="{{dataValues.imgurl}}" class="resultImage">
    <div class="result-info-short" id="{{dataValues.id}}">
        <p class="nameage name">Name: {{dataValues.firstname}} <span class="age nameage">Age: {{dataValues.age}}</span></p>
        <p class='location'>Location: {{dataValues.city}}, {{dataValues.state}}</p>
        <a class="btn result-button" id="profile profile-{{dataValues.id}}" data-id="{{dataValues.id}}" href="/result/profile/{{dataValues.id}}">See Profile</a>
        <button type="button" class="btn connect-button result-button" id="connect-{{dataValues.id}}" data-id="{{dataValues.id}}">Connect</button>
    </div>
</div>