{{!-- router.get('/my-profile', function(req, res) {
    res.render('profile-page', {layout: 'main.handlebars'});
}); --}}

<section class="container profileContainer">
    <div class="row">
        <div class="col-5" id="profileImage">
            <img class="profileImage" src="{{dataValues.imgurl}}">
        </div>
        <div class="col-6 myinfo">
            <p class="info " id="name-user"><span class="infoTitle">Name: </span> {{dataValues.firstname}} {{dataValues.lastname}} </p>
            <p class="info " id="age-user"><span class="infoTitle">Age: </span> {{dataValues.age}} </p>
            <p class="info " id="gender-user"><span class="infoTitle">Gender: </span> {{dataValues.gender}} </p>
            <p class="info " id="ethnicity-user"><span class="infoTitle">Ethnicity: </span> {{dataValues.ethnicity}} </p>
            <p class="info " id="height-user"><span class="infoTitle">Height: </span> {{dataValues.heightfeet}}' {{dataValues.heightinches}} '' </p>
            <p class="info " id="location-user"><span class="infoTitle">Location: </span> {{dataValues.location}} {{dataValues.city}} </p>
            <p class="info " id="job-user"><span class="infoTitle">Job: </span> {{dataValues.job}} at {{dataValues.company}} </p>
            <p class="info " id="drink-user"><span class="infoTitle">Drinking Frequency: </span> {{dataValues.drinks}} </p>
            <p class="info " id="zodiac-user"><span class="infoTitle">Zodiac: </span> {{dataValues.zodiac}} </p>
            <p class="info " id="interest-user"><span class="infoTitle">Interests: </span> </p>
            <p>	∙ {{dataValues.interest1}} </p>
            <p>	∙ {{dataValues.interest2}} </p>
            <p>	∙ {{dataValues.interest3}} </p>
            <p>	∙ {{dataValues.interest4}} </p>
            <p>	∙ {{dataValues.interest5}} </p>
        </div>
    </div>
    <div class="decriptionTitle">About Me</div>
    <div class="row">
        <div class="description">
            {{dataValues.description}}
        </div>
    </div>
     <div class="row">
         <button id="edit-button-profile">Edit Profile</button>
    </div>
   
</section>