{{!-- router.get('/result/profile/:username', function(req, res) {
    res.render('results-profile', {layout: 'main.handlebars'});
}); --}}

<section class="container profileContainer">
    <div class="row">
        <div class="col-4" id="profileImage">
            <img src="{{dataValues.imgsrc}}">
        </div>
        <div class="col-7 matchInfo">
            <p class="info col-12" id="name-match"><span class="infoTitle">Name: </span> {{dataValues.name}} </p>
            <p class="info col-12" id="age-match"><span class="infoTitle">Age: </span> {{dataValues.age}} </p>
            <p class="info col-12" id="height-match"><span class="infoTitle">Height: </span> {{dataValues.height_ft}}' {{dataValues.height_inch}} '' </p>
            <p class="info col-12" id="location-match"><span class="infoTitle">Location: </span> {{dataValues.location}} {{dataValues.city}} </p>
            <p class="info col-12" id="drink-match"><span class="infoTitle">Drinking Frequence: </span> {{dataValues.drink}} </p>
        </div>
    </div>
    <div class="decriptionTitle">{{dataValues.FirstName}}'s Decription</div>
    <div class="row">
        <div class="decription">
            {{dataValues.description}}
        </div>
    </div>
</section>