{{!-- router.get('/result/profile/:username', function(req, res) {
    res.render('results-profile', {layout: 'main.handlebars'});
}); --}}

<section class="container profileContainer">
    <div class="row">
        <div class="col-5" id="profileImage">
            <img class="profileImage" src="{{dataValues.imgurl}}">
        </div>
        <div class="col-6 matchInfo">
            <p class="info col-12" id="name-match"><span class="infoTitle">Name: </span> {{dataValues.firstname}} </p>
            <p class="info col-12" id="age-match"><span class="infoTitle">Age: </span> {{dataValues.age}} </p>
            <p class="info col-12" id="gender-match"><span class="infoTitle">Gender: </span> {{dataValues.gender}} </p>
            <p class="info col-12" id="ethnicity-match"><span class="infoTitle">Ethnicity: </span> {{dataValues.ethnicity}} </p>
            <p class="info col-12" id="height-match"><span class="infoTitle">Height: </span> {{dataValues.heightfeet}}' {{dataValues.heightinches}} '' </p>
            <p class="info col-12" id="location-match"><span class="infoTitle">Location: </span> {{dataValues.city}}, {{dataValues.state}} </p>
            <p class="info col-12" id="job-match"><span class="infoTitle">Job: </span> {{dataValues.job}} <span class="infoTitle">Company: </span>  {{dataValues.company}} </p>
            <p class="info col-12" id="drink-match"><span class="infoTitle">Drinking Frequency: </span> {{dataValues.drinks}} </p>
            <p class="info col-12" id="zodiac-match"><span class="infoTitle">Zodiac: </span> {{dataValues.zodiac}} </p>
            <p class="info col-12" id="interest-match"><span class="infoTitle">Quick Facts: </span> </p>
            <p>	∙ {{dataValues.interest1}} </p>
            <p>	∙ {{dataValues.interest2}} </p>
            <p>	∙ {{dataValues.interest3}} </p>
        </div>
    </div>
    <div class="decriptionTitle">About {{dataValues.firstname}}</div>
    <div class="row">
        <div class="description-result">
            {{dataValues.description}}
        </div>
    </div>
</section>